$link: #0E86C8;

$green: #25D366;
$green1: #D3F6E0;
$green--5: #F4FDF7;

$red: #EB6569;
$red1: #F9D1D2;
$red--5: #FDF3F3;

$white: #FFFFFF;

$black7: #000000;
$black6: #333333;
$black5: #666666;
$black4: #808080;
$black3: #B3B3B3;
$black2: #E6E6E6;
$black1: #F2F2F2;
$black--5: #F9F9F9;

// FONT SIZE
$h4-fs:32px; $h4-lh:48px;
$h5-fs:24px; $h5-lh:40px;
$h6-fs:20px; $h6-lh:32px;

$p1-fs:20px; $p1-lh:32px;
$p2-fs:15px; $p2-lh:24px;
$p3-fs:13px; $p3-lh:24px;

//FONTS
$l_regular : "Lora-Regular";
$l_semi_bold : "Lora-SemiBold";
$ws_regular : "WorkSans-Regular";
$ws_semi_bold : "WorkSans-SemiBold";

//RESPONSIVE 
$mobile: 992px;