<div class="sertfs container">
  <div class="vacancies_tab">
    <div class="tab tab_selected">
      <p class="tab_name tab_selected_name">Uğurlar</p>
    </div>
    <div class="tab tab_unselected">
      <p class="tab_name ">Sertifikatlar</p>
    </div>
  </div>
  <div class="blogs_tab_mobile">
    <button class="select_tab">
      <p class="select_name">Hamısı</p>
      <img class="menu_item_chevron" src="assets/icons/chevron-up-dark.svg" alt="">
    </button>
  </div>
  <div class="sertf_list container">
    <div class="gallery_item">
      <img src="assets/images/gallery.svg" alt="">
      <div class="srtf_data">
        <p class="srtf_name">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="gallery_item">
      <img src="assets/images/gallery.svg" alt="">
      <div class="srtf_data">
        <p class="srtf_name">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="gallery_item">
      <img src="assets/images/gallery.svg" alt="">
      <div class="srtf_data">
        <p class="srtf_name">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="gallery_item">
      <img src="assets/images/gallery.svg" alt="">
      <div class="srtf_data">
        <p class="srtf_name">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
</div>
