<div class="service container">
  <div class="service_heading">
    <div class="services_jumbotron">
      <h2 class="service_header">lorem ipsum dolor sit amet</h2>
      <p class="services_description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div class="service_advantages">
    <h2 class="service_header adv_head">Xidmətin üstünlükləri:</h2>
    <div class="service_advantages_list">
      <div class="service_advantages_card">
        <h3 class="card_head">Real keyslərimiz var </h3>
        <p class="card_desc">Üzləşdiyimiz real keyslərin diqqətinizi cəlb edəcəyinə inanırıq. “Aaa...mənə məsələnin bu tərəfini izah etməmişdilər”. “Bu risklərdən xəbərdar deyildim” deyə biləcək insan sayı qədər konsultasiya vermis, fərdi və korporativ müştəriləri üzləşə biləcəkləri risklərdən qorumuşuq. </p>
      </div>
      <div class="service_advantages_card">
        <h3 class="card_head">Real keyslərimiz var </h3>
        <p class="card_desc">Üzləşdiyimiz real keyslərin diqqətinizi cəlb edəcəyinə inanırıq. “Aaa...mənə məsələnin bu tərəfini izah etməmişdilər”. “Bu risklərdən xəbərdar deyildim” deyə biləcək insan sayı qədər konsultasiya vermis, fərdi və korporativ müştəriləri üzləşə biləcəkləri risklərdən qorumuşuq. </p>
      </div>
      <div class="service_advantages_card">
        <h3 class="card_head">Real keyslərimiz var </h3>
        <p class="card_desc">Üzləşdiyimiz real keyslərin diqqətinizi cəlb edəcəyinə inanırıq. “Aaa...mənə məsələnin bu tərəfini izah etməmişdilər”. “Bu risklərdən xəbərdar deyildim” deyə biləcək insan sayı qədər konsultasiya vermis, fərdi və korporativ müştəriləri üzləşə biləcəkləri risklərdən qorumuşuq. </p>
      </div>
      <div class="service_advantages_card">
        <h3 class="card_head">Real keyslərimiz var </h3>
        <p class="card_desc">Üzləşdiyimiz real keyslərin diqqətinizi cəlb edəcəyinə inanırıq. “Aaa...mənə məsələnin bu tərəfini izah etməmişdilər”. “Bu risklərdən xəbərdar deyildim” deyə biləcək insan sayı qədər konsultasiya vermis, fərdi və korporativ müştəriləri üzləşə biləcəkləri risklərdən qorumuşuq. </p>
      </div>
    </div>
  </div>
  <div class="faq">
    <h2 class="faq_head">TEZ-TEZ VERİLƏN SUALLAR</h2>
    <div class="faq_question selected_question">
      <p>What is off page SEO link building?</p>
      <img src="assets/icons/chevron-up.svg" alt="">
    </div>
    <p class="faq_answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="faq_question ">
      <p>What is off page SEO link building?</p>
      <img src="assets/icons/chevron-down.svg" alt="">
    </div>
  </div>
</div>
