<div class="philosophy container">
  <div class="philosophy_top">
    <div class="desription">
      <h2 class="desc_head">Köhnəlmiş sistemləri kənara qoyaraq texnologiya dünyasına daha yaxın olun.</h2>
      <h2 class="desc">
        Bir çox şirkətlər üçün texnologiya sahəsi, əsəb, stress və qeyri-müəyyənliklərdən ibarətdir. Biz inanırıq ki, şirkətlərdə bu düşüncəni dəyişmək üçün daha məntiqli və nəticə yönümlü həll yolları mövcuddur.
        Texnologiya – hər gün ofisinizdə ayağınıza dolaşan kabellər deyil, hədəfə çatmağa təkan verən sistemli infrastrukturdur. Sizi narahat edən, işinizin axsamasına gətirib çıxaran problemlərin həlli üçün rahat və sadə həll yolları mövcuddur.
      </h2>
    </div>
    <div class="media">
      <img class="phy_media" src="assets/images/phylos_media.svg" alt="">
    </div>
  </div>
  <div class="philosophy_bottom">
    <div class="media bottom_media">
      <img class="phy_media " src="assets/images/phylos_media.svg" alt="">
    </div>
    <div class="desription desription_bottom">
      <h2 class="desc_head">Köhnəlmiş sistemləri kənara qoyaraq texnologiya dünyasına daha yaxın olun.</h2>
      <h2 class="desc">
        Bir çox şirkətlər üçün texnologiya sahəsi, əsəb, stress və qeyri-müəyyənliklərdən ibarətdir. Biz inanırıq ki, şirkətlərdə bu düşüncəni dəyişmək üçün daha məntiqli və nəticə yönümlü həll yolları mövcuddur.
        Texnologiya – hər gün ofisinizdə ayağınıza dolaşan kabellər deyil, hədəfə çatmağa təkan verən sistemli infrastrukturdur. Sizi narahat edən, işinizin axsamasına gətirib çıxaran problemlərin həlli üçün rahat və sadə həll yolları mövcuddur.
      </h2>
    </div>
  </div>
</div>
