<div class="projects container">
  <div class="blogs_tab">
    <button class="tab_item selected_tab">
      Hamısı
    </button>
    <div class="tab_divider"></div>
    <button class="tab_item">Bloqlar</button>
    <div class="tab_divider"></div>
    <button class="tab_item">Xəbərlər</button>
  </div>
  <div class="blogs_tab_mobile">
    <button class="select_tab">
      <p class="select_name">Hamısı</p>
      <img class="menu_item_chevron" src="assets/icons/chevron-up-dark.svg" alt="">
    </button>
  </div>
  <div class="projects_cards">
    <div class="project_card">
      <img class="project_card_img" src="assets/images/project_card.svg" alt="">
      <div class="project_card_info">
        <p class="project_card_info_head">Fooderos website</p>
        <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
        <div class="circle_projects">
          <div class="chevron_circle_projects">
            <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="project_card">
      <img class="project_card_img" src="assets/images/project_card.svg" alt="">
      <div class="project_card_info">
        <p class="project_card_info_head">Fooderos website</p>
        <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
        <div class="circle_projects">
          <div class="chevron_circle_projects">
            <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="project_card">
      <img class="project_card_img" src="assets/images/project_card.svg" alt="">
      <div class="project_card_info">
        <p class="project_card_info_head">Fooderos website</p>
        <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
        <div class="circle_projects">
          <div class="chevron_circle_projects">
            <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
