<div class="contact container">
  <div class="contact_content">
    <div class="contact_options">
      <h2 class="contact_head">Əlaqə vasitələri</h2>
      <div class="options_content">
        <div class="option_item">
          <img class="option_icon" src="assets/icons/location.svg" alt="">
          <p class="option_name">H.Əliyev Pr. 125, Bakı</p>
        </div>
        <div class="option_item">
          <img class="option_icon" src="assets/icons/mail.svg" alt="">
          <p class="option_name">office@knexel.com</p>
        </div>
        <div class="option_item">
          <img class="option_icon" src="assets/icons/call.svg" alt="">
          <p class="option_name">+994123105300</p>
        </div>
        <div class="option_item">
          <img class="option_icon" src="assets/icons/clock2.svg" alt="">
          <p class="option_name">Bazar ertəsi - Cümə    09:00 - 18:00</p>
        </div>
      </div>
    </div>
    <div class="contact_form">
      <h2 class="contact_head">Bizə yazın</h2>
      <div class="form">
        <div class="name_mail">
          <input class="half_input" type="text" placeholder="Ad, Soyad">
          <input class="half_input" type="text" placeholder="aliyev.nihad@gami">
        </div>
        <div class="name_mail">
          <input class="half_input" type="number" placeholder="Telefon">
          <div class="half_input status">
            <span class="status_name">Status</span>
            <div class="line"></div>
            <div class="radioboxes">
              <div class="radio__container">
                <div class="radio-inline">
                  <input class="radio" id="awesome-item-1" name="radio" type="radio" value="AwesomeItem1" checked>
                  <label class="radio__label" for="awesome-item-1">İrad</label>
                </div>
                <div class="radio-inline">
                  <input class="radio" id="awesome-item-2" name="radio" type="radio" value="AwesomeItem2">
                  <label class="radio__label" for="awesome-item-2">Təklif</label>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="">
        <textarea class="textarea"  name="" id="" cols="30" rows="10" placeholder="Mesajınız"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
