<div class="ceo container">
  <div class="ceo_media">
    <img class="ceo_img" src="assets/images/ceo.png" alt="">
  </div>
  <div class="ceo_message">
    <h3 class="ceo_message_head">
      “Knexel Technology” Azərbaycanda şirkətlər üçün yeni texnoloji infrastrukturun formalaşdırılması və İT sahəsini inkişaf etdirmək məqsədi ilə yaradılmışdır.
    </h3>
    <p class="ceo_message_desc">Şirkətlərin gələcək ehtiyaclarını qarşılamaq üçün insan kapitalı və texnologiyalara etdiyimiz yatırımlar uğurumuzun əsasını təşkil edir. Bu gün ölkəmizdə bacarıqlı və perspektivli kadrların bu sahələyə olan marağını ölkə iqtisadiyyatında bir çox sahələrin inkişafını təşviq edən göstəricisi kimi qiymətləndirmək olar.
      Ölkəmizin qeyri-neft sektorunu əhatə edən sahələrin inkişafına verdiyi dəstək özünü informasiya texnologiyaları sektorunda da hiss olunmaqdadır. Bu da yerli bazar iştirakçılarının texnologiya sahəsinə olan marağın arzuolunan sәviyyәyә çatması deməkdir. Ölkədə texnoloji həllərə olan tələbatın sürətlə artması bizə həm yerli, həm də xarici bazarın tərkib hissəsi olmaqla yanaşı, əhatə dairəmizi də genişləndirməyə imkan yaradır.
      Biz dünyada yaranan yeni texnologiyaların Azərbaycanda tətbiq olunmasına təkan verməkmək üçün xarici bazarlara çıxış imkanlarımızı genişləndirməyi hədəfləyirik.
      “Knexel Technology” şirkəti olaraq inkişafımız üçün cəlb etdiyimiz potensial kadrlar və yeni texnologiyalar sayəsində qoyduğumuz hədəflərə çatmaq üçün fəaliyyətimizi uğurla davam etdiririk.</p>
    <div class="ceo_cp">
      <p class="ceo_name">HÖRMƏTLƏ, KƏNAN CAVADOV</p>
      <p class="ceo_desc">Knexel Technology şirkətinin direktoru</p>
    </div>
  </div>
</div>
