<div class="gallery container">
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
  <div class="gallery_item">
    <img src="assets/images/gallery.svg" alt="">
  </div>
</div>
<button class="action_button more">Daha çox</button>
