@import "src/sass/base/global";
@import "src/sass/base/variables";

.gallery{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.gallery_item{
  width: 24.8%;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  img{
    object-fit: cover;
    background: aliceblue;
    border-radius: 6px;

  }
}
.more{
  display: block;
  margin: 60px auto 0;
}

@media (max-width: 768px) {
  .gallery{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .gallery_item {
    width: 100%;
    img{
      width: 100%;
    }
  }
}
