<div class="goals container">
  <div class="goals_head">
    <img class="right_log" src="assets/icons/vector.svg" alt="">
    <h2 class="goals_header">MƏQSƏDİMİZ</h2>

  </div>
  <div class="goals_content">
    <div class="goals_top">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
      <div class="top_right">
        <div class="content_head">
          <h3 class="content_header">Yeni texnologiyalar</h3>
        </div>
        <p class="content_data">İşimizin əsas hissəsini yeni texnologiyaların axtarışı və onların yerli şirkətlərə tətbiqi təşkil edir. Yatırım etdiyimiz hər yeni texnologiyanın arxasında yeni bir uğur və başlanğıc hissinin olması bizi daima inkişaf etdirir.</p>

      </div>
    </div>
    <div class="goals_mid">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
      <div class="top_right">
        <div class="content_head">
          <h3 class="content_header">Yeni texnologiyalar</h3>
        </div>
        <p class="content_data">İşimizin əsas hissəsini yeni texnologiyaların axtarışı və onların yerli şirkətlərə tətbiqi təşkil edir. Yatırım etdiyimiz hər yeni texnologiyanın arxasında yeni bir uğur və başlanğıc hissinin olması bizi daima inkişaf etdirir.</p>

      </div>
    </div>
    <div class="goals_btm">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
    </div>
  </div>
</div>
<div class="goals values">
  <div class="container">
  <div class="goals_head">
    <img class="right_log" src="assets/icons/vector.svg" alt="">
    <h2 class="goals_header">MƏQSƏDİMİZ</h2>

  </div>
  <div class="goals_content">
    <div class="goals_top">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
      <div class="top_right">
        <div class="content_head">
          <h3 class="content_header">Yeni texnologiyalar</h3>
        </div>
        <p class="content_data">İşimizin əsas hissəsini yeni texnologiyaların axtarışı və onların yerli şirkətlərə tətbiqi təşkil edir. Yatırım etdiyimiz hər yeni texnologiyanın arxasında yeni bir uğur və başlanğıc hissinin olması bizi daima inkişaf etdirir.</p>

      </div>
    </div>
    <div class="goals_mid">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
      <div class="top_right">
        <div class="content_head">
          <h3 class="content_header">Yeni texnologiyalar</h3>
        </div>
        <p class="content_data">İşimizin əsas hissəsini yeni texnologiyaların axtarışı və onların yerli şirkətlərə tətbiqi təşkil edir. Yatırım etdiyimiz hər yeni texnologiyanın arxasında yeni bir uğur və başlanğıc hissinin olması bizi daima inkişaf etdirir.</p>

      </div>
    </div>
    <div class="goals_btm">
      <div class="top_left">
        <div class="content_head">
          <h3 class="content_header">Biznesə texnoloji dəstək</h3>
        </div>
        <p class="content_data">Biz Azərbaycanda sahibkarlığın inkişafı üçün çalışırıq. Qarşımıza qoyduğumuz məqsədlərdən biri isə fəaliyyət göstərən yerli şirkətlərin köhnəlmiş İT infrastrukturlarını yeniləyərək, onların daha təhlükəsiz və rahat işləməsinə dəstək olmaqdır.</p>
      </div>
    </div>
  </div>
  </div>
</div>
