<div class="vacancy container">
  <div class="vacancy_head_part">
    <div class="vacancy_headers">
      <p class="vacancy_experience">İş Təcrübəsi</p>
      <p class="vacancy_salary">Əmək haqqı</p>
    </div>
    <div class="vacancy_values">
      <p class="experience_value">İş Təcrübəsi</p>
      <p class="salary_value">Əmək haqqı</p>
    </div>
  </div>
  <div class="vacancy_content">
    <div class="vacancy_req">
      <h2 class="req_head">Vəzifə və öhdəliklər:</h2>
      <ul class="req_list">
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
      </ul>
    </div>
    <div class="vacancy_req">
      <h2 class="req_head">Namizəd üçün tələblər:</h2>
      <ul class="req_list">
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
        <li class="req_item">Kreativ postlar üçün ideyaların verilməsi</li>
        <li class="req_item">Kreativ vizual mətnlərin yazılması</li>
      </ul>
    </div>
  </div>
  <p class="vacancy_footer">Göstərilən tələb və öhdəliklərə uyğun namizədlər “Kreativ Kopirayter” başlığı altında öz CV və portfoliolarını info@knexel.az ünvanına göndərə bilərlər.</p>
  <p class="vacancy_footer"> EYD: Portfoliosuz göndərilən CV-lərə baxılmayacaq.</p>
</div>
