<div class="project container">
  <div class="project_jumbotron">
    <h2 class="project_head">LAYİHƏ HAQQINDA</h2>
    <p class="project_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="project_short_info">
    <div class="project_info_item team_members">
      <img class="project_info_item_icon" src="assets/icons/multiple-users-silhouette.svg" alt="">
      <p>Komanda sayı: 15</p>
    </div>
    <div class="project_info_item">
      <img class="project_info_item_icon" src="assets/icons/calendar.svg" alt="">
      <p>İcra müddəti: 12 həftə</p>
    </div>
  </div>
  <div class="projects_done_works">
    <h2 class="project_head">LAYİHƏ HAQQINDA</h2>
    <div class="projects_done_works_list">
      <div class="work_item">
        <img class="work_item_icon" src="assets/icons/check.svg" alt="">
        <p>Biznesə texnoloji dəstək</p>
      </div>
      <div class="work_item">
        <img class="work_item_icon" src="assets/icons/check.svg" alt="">
        <p>Biznesə texnoloji dəstək</p>
      </div>
      <div class="work_item">
        <img class="work_item_icon" src="assets/icons/check.svg" alt="">
        <p>Biznesə texnoloji dəstək</p>
      </div>
      <div class="work_item">
        <img class="work_item_icon" src="assets/icons/check.svg" alt="">
        <p>Biznesə texnoloji dəstək</p>
      </div>
    </div>
  </div>
  <div class="project_gallery">
    <h2 class="project_head">İCRA PROSESİNDƏN GÖRÜNTÜLƏR</h2>
  </div>
</div>
