<div class="blog">
  <section id="blog">
    <div class="blog_content container">
      <h2 class="blog_head">Böhran hansısa şirkət üçün imkan, hansıları üçünsə
        son mənzilə gedən yol kimi xarakterizə edilir. </h2>
      <div class="date_share">
        <p class="date">20:05:2021</p>
        <div class="share">
          <img class="fb_logo" src="assets/icons/facebook-circular-logo.svg" alt="">
          Paylaş
        </div>
      </div>
      <div class="blog_slider">

      </div>
      <div class="blog_text">
        <p class="blog_p">
          Böhran hansısa şirkət üçün imkan, hansıları üçünsə son mənzilə gedən yol kimi xarakterizə edilir. Amma maraqlı məqam budur ki, dünyada (eləcədə post-sovet məkanında) lider olan şirkətlərin böyük əksəriyyəti məhz böhran dövründə yaranmış və ya böhran dövründə rəqiblərindən xeyli önə keçməyi bacaran bizneslərdir. Başqa sözlə desək, böhran biznes üçün daha çox inkişaf vəd edir… dediklərimizə bir neçə misalla təsdiq edək?
          Biznesdədə belədir. Məhz böhran, qeyri-sezon dövrlərində həqiqi sistem qurmuş bizneslər dahada güclü ola bilirlər.

          Hyuindai 2008-2009 dünya maliyyə böhranından ən çox mənfəətlə çıxan brendlərin başında durur desək, yanılmaırıq. Ümumiyyətlə sözü gedən dövrlər istər avtomobil (Kia, Hyuindai), istərsədə məişət texnikasında (Samsung, LG) Koreya şirkətləri marketinq və yeni məhsulların hesabına yüksək nəticələr göstərdilər.

          Əslində eyni məsələ Azərbaycan şirkətlərindədə belədir… 2009-cü ildə ölkədə mebel sənayesi “batanda” Embawood ən böyük marketinq büdcələri ilə, pərakəndə şəbəkəsini genişləndirirdi. Hamı mağazalarını bağlayanda şirkət mağaza sayını 11-ən 52-ə qaldırdı. Nəticədə böhrandan sonra şirkətdə demək olar ki, məhsul “qıtlığı” pik nöqtədə edi. Satış rekordları qırılırdı!


        </p>
        <p class="blog_p">  Dünya biznesinin liderlərinə nəzər salaq?</p>
        <p class="blog_p">           Necə ki, eyni müharibə mövzusundə Coca Cola istifadə edib. O dövrlərdə şirkətin məhşur devizi, butün amerikan əsgərlərinin əzbəri olub: “Hər amerikan əsgərinə bir Cola lazımdır”. İlk dövrlərdə əsgərləri Coca-Cola pulsuz daha sonra, pulla təklif etməyi bacaran şirkət böhrandan böyük gəlirlərlə çıxıb.</p>
        <p class="blog_p">    P&G şirkətinin tarixinə nəzər salsaq məhz Amerikanın müharibə etdiyi dövrlərdə şirkət özünün tarixi rəqiblərindən önə keçməyə nail olub. Müharibə zamanı Procter amerikan əsgərləri üçün sabun satarıq öz dövriyyəsinin “əlçatmaq” səviyyəyə qaldıra bilib. Nəticədə müharibə zamanı, amerikanı bürüyən, böhran əslində P&G xeyrli olub.</p>
      </div>
      <div class="blog_similar">
        <p class="blog_similar_head">Oxşar xəbərlər</p>
        <div class="similar_blog_cards">
          <div class="blogs_list">
            <div class="new_card">
              <div class="new_badge">
                <div class="badge_view">
                  News
                </div>
              </div>
              <img class="card_img" src="assets/images/project_card.svg" alt="">
              <div class="news_card_info">
                <p class="news_card_date">16.03.2021</p>
                <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
                <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
                <a class="card_navigate">Daha ətraflı</a>
              </div>
            </div>
            <div class="new_card">
              <img class="card_img" src="assets/images/project_card.svg" alt="">
              <div class="news_card_info">
                <p class="news_card_date">16.03.2021</p>
                <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
                <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
                <a class="card_navigate">Daha ətraflı</a>
              </div>
            </div>
            <div class="new_card">
              <img class="card_img" src="assets/images/project_card.svg" alt="">
              <div class="news_card_info">
                <p class="news_card_date">16.03.2021</p>
                <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
                <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
                <a class="card_navigate">Daha ətraflı</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
