<div class="vacancies container">
  <div class="vacancies_tab">
    <div class="tab tab_selected">
      <p class="tab_name tab_selected_name">Vakansiyalar</p>
    </div>
    <div class="tab tab_unselected">
      <p class="tab_name ">Təcrübə proqramları</p>
    </div>
  </div>
  <div class="vacancies_list">
    <div class="vacancy_item">
      <p class="vacancy_name">Ofis Meneceri</p>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_data_name">İş Təcrübəsi</p>
        <p class="vacancy_data_name">Əmək haqqı</p>
      </div>
      <div class="vacancy_data_names">
        <p class="vacancy_data_value">1 ildən az</p>
        <p class="vacancy_data_value">Razılaşma yolu ilə</p>
      </div>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_date">1 ildən az</p>
        <p class="vacancy_navigate">Ətraflı</p>
      </div>
    </div>
    <div class="vacancy_item">
      <p class="vacancy_name">Ofis Meneceri</p>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_data_name">İş Təcrübəsi</p>
        <p class="vacancy_data_name">Əmək haqqı</p>
      </div>
      <div class="vacancy_data_names">
        <p class="vacancy_data_value">1 ildən az</p>
        <p class="vacancy_data_value">Razılaşma yolu ilə</p>
      </div>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_date">1 ildən az</p>
        <p class="vacancy_navigate">Ətraflı</p>
      </div>
    </div>
    <div class="vacancy_item">
      <p class="vacancy_name">Ofis Meneceri</p>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_data_name">İş Təcrübəsi</p>
        <p class="vacancy_data_name">Əmək haqqı</p>
      </div>
      <div class="vacancy_data_names">
        <p class="vacancy_data_value">1 ildən az</p>
        <p class="vacancy_data_value">Razılaşma yolu ilə</p>
      </div>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_date">1 ildən az</p>
        <p class="vacancy_navigate">Ətraflı</p>
      </div>
    </div>
    <div class="vacancy_item">
      <p class="vacancy_name">Ofis Meneceri</p>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_data_name">İş Təcrübəsi</p>
        <p class="vacancy_data_name">Əmək haqqı</p>
      </div>
      <div class="vacancy_data_names">
        <p class="vacancy_data_value">1 ildən az</p>
        <p class="vacancy_data_value">Razılaşma yolu ilə</p>
      </div>
      <hr class="vacancy_divider">
      <div class="vacancy_data_names">
        <p class="vacancy_date">1 ildən az</p>
        <p class="vacancy_navigate">Ətraflı</p>
      </div>
    </div>
  </div>
  <div class="more action_button">Daha çox</div>
</div>
