<div class="home">
  <section id="banner">
  <div class="home_banner" style=" background: url('../../assets/images/banner.svg') no-repeat center;">
    <div class="container h-100">
      <div class="home_navbar">
        <div class="home_top_bar ">
          <div class="home_logo">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <div class="home_main_menu">
            <ul class="menu_items">
              <li class="menu_item menu_dropdown">Xidmətlər
                <img class="menu_item_chevron" src="assets/icons/chevron-up.svg" alt="">
                <div class="menu_opened">
                  <ul class="menu_opened_content">
                    <li class="menu_nav">Digital consulting <img class="chevron" src="assets/icons/chevron-right-grey.svg" alt=""></li>
                    <li class="menu_nav">Solution engineering <img class="chevron" src="assets/icons/chevron-right-grey.svg" alt=""></li>
                    <li class="menu_nav selected_menu">Technology infrastructure <img class="menu_item_chevron selected_chevron" src="assets/icons/chevron-up.svg" alt=""></li>
                    <li class="menu_nav">IT Operations <img class="menu_item_chevron chevron" src="assets/icons/chevron-right-grey.svg" alt=""></li>
                  </ul>
                </div>
                <div class="multi_menu">
                  <ul class="menu_opened_content">
                    <li class="multi_menu_nav">Digital consulting </li>
                    <li class="multi_menu_nav">Solution engineering </li>
                    <li class="multi_menu_nav">IT Operations</li>
                    <li class="multi_menu_nav">IT Operations</li>
                  </ul>
                </div>
              </li>
              <li class="menu_item menu_dropdown">Haqqımızda
                <img class="menu_item_chevron" src="assets/icons/chevron-up.svg" alt="">
                <div class="menu_opened">
                  <ul class="menu_opened_content">
                    <li class="menu_nav">Şirkətin Fəlsəfəsi</li>
                    <li class="menu_nav">Məqsəd və Dəyərlərimiz</li>
                    <li class="menu_nav selected_menu">Şirkət rəhbərinin müraciəti</li>
                    <li class="menu_nav">Uğurlar və Sertifikatlar</li>
                  </ul>
                </div>
              </li>
              <li class="menu_item">Layihələr</li>
              <li class="menu_item">Bloq</li>
              <li class="menu_item">Əlaqə</li>
            </ul>
          </div>
          <div class="home_language">
            <a class="menu_item menu_dropdown">AZ
              <img class="menu_item_chevron" src="assets/icons/chevron-up.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="home_jumbotron">
        <div class="home_jumbotron_content container">
          <div class="jumbotron_action_part">
            <h1 class="jumbotron_heading">
              Texnologİyalar Bİznesİnİzİn Gələcəyİdİr
            </h1>
            <p class="jumbotron_p">
              İnnovativ İT həllərin köməyi ilə biznesinizin davamlılığını təmin edin. Məlumatlarınızın təhlükəsizliyindən əmin olun. Xərclərinizi optimallaşdırın.
            </p>
            <button class="action_button">
                Görüş al
            </button>
          </div>
          <div class="jumbotron_info_part">
            <div class="info_content" style=" background: url('../../assets/images/info_bg.svg') no-repeat;">
              <div class="content_top">
                <div class="top_item">
                  <h2 class="item_head">12+</h2>
                  <p class="item_desc">İl təcrübə</p>
                </div>
                <div class="top_item">
                  <h2 class="item_head">12+</h2>
                  <p class="item_desc">uğurlu layİhə</p>
                </div>
              </div>
              <div class="content_bottom">
                <div class="bottom_item">
                  <h2 class="item_head">12+</h2>
                  <p class="item_desc">təklİf edİlən
                    xİdmət</p>
                </div>
                <div class="bottom_item">
                  <h2 class="item_head">12+</h2>
                  <p class="item_desc">komanda üzvü</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="services">
    <div class="services" style=" background: url('../../assets/images/k_bg.svg') no-repeat left;">
      <div class="container services_content">
        <div class="services_desc">
            <h2 class="section_heading">
            XİDMƏTLƏRİMİZ
          </h2>
          <p class="services_p">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="services_items">
          <div class="services_items_top">
            <div class="digital_consulting">
              <p class="col_head">Digital consulting</p>
              <p class="col_desc">Müəssisənizin İT infrastrukturuna xidmət üzrə bütün öhdəliklərin və işlərin icra edilməsi</p>
              <div class="circle">
              <div class="chevron_circle">
              <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
              </div>
              </div>
            </div>
            <div class="solution_eng">
              <p class="col_head"> Solution
                engineering</p>
              <p class="col_desc">Müəssisənizin İT infrastrukturuna xidmət üzrə bütün öhdəliklərin və işlərin icra edilməsi</p>
              <div class="circle">
                <div class="chevron_circle">
                  <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="services_items_bottom">
            <div class="tech_inf">
              <p class="col_head"> Technology
                infrastructure</p>
              <p class="col_desc">Müəssisənizin İT infrastrukturuna xidmət üzrə bütün öhdəliklərin və işlərin icra edilməsi</p>
              <div class="circle">
                <div class="chevron_circle">
                  <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
                </div>
              </div>
            </div>
            <div class="it_ops">
              <p class="col_head">iT
                Operations</p>
              <p class="col_desc">Müəssisənizin İT infrastrukturuna xidmət üzrə bütün öhdəliklərin və işlərin icra edilməsi</p>
              <div class="circle">
                <div class="chevron_circle">
                  <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="video">
    <div class="video container">
      <h2 class="section_heading tech_head">SİZİN TEXNOLOGİYA TƏRƏFDAŞINIZ</h2>
      <p class="section_p tech_p">Komandamız artıq 10 ildən çoxdur ki, Azərbaycan bazarında İT servis provayder olaraq uğurla fəaliyyət göstərir.</p>
      <img style="background: aliceblue;" src="assets/images/tech_imgs.svg" alt="">
    </div>
  </section>
  <section id="projects">
    <div class="projects container">
      <h2 class="section_heading">LAYİHƏLƏR</h2>
      <p class="section_p">Uğurla tamamladığımız texnoloji məhsul və layihələrlə tanış olun.</p>
      <div class="all">
      <p class="all_projects">Bütün layihələr <img class="right_arrow" src="assets/icons/chevron_right_arrow.svg" alt=""></p>
        <div class="navigate">
          <img class="navigate_left" src="assets/icons/navigate_left.svg" alt="">
          <img src="assets/icons/navigate_right.svg" alt="">
        </div>
      </div>
      <div class="projects_cards">
        <div class="project_card">
          <img class="project_card_img" src="assets/images/project_card.svg" alt="">
          <div class="project_card_info">
            <p class="project_card_info_head">Fooderos website</p>
            <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
            <div class="circle_projects">
              <div class="chevron_circle_projects">
                <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="project_card">
          <img class="project_card_img" src="assets/images/project_card.svg" alt="">
          <div class="project_card_info">
            <p class="project_card_info_head">Fooderos website</p>
            <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
            <div class="circle_projects">
              <div class="chevron_circle_projects">
                <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="project_card">
          <img class="project_card_img" src="assets/images/project_card.svg" alt="">
          <div class="project_card_info">
            <p class="project_card_info_head">Fooderos website</p>
            <p class="project_card_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.e</p>
            <div class="circle_projects">
              <div class="chevron_circle_projects">
                <img width="12" height="12" src="assets/icons/chevron-right.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="parallax">
    <div class="parallax" style="background-image: url('../../assets/images/parallax.jpg');">
       <div class="container parallax_content">
        <h2 class="parallax_head">Dəyişməyin vaxtıdır!</h2>
        <p class="parallax_p">Biznes prosesləri daha səmərəli təşkil etmək, onların kəsintisiz davamlılığını təmin etmək, məlumatlarınızın təhlükəsiz axınını təmin etmək, xərclərinizi optimallaşdırmaq üçün əsl vaxtdır. Kritik anı gözləmək daha risklidir. Əlaqə məlumatlarınızı qeyd edin, əməkdaşlarımız indi sizinlə əlaqə saxlasın.</p>
         <button class="button_more">Daha ətraflı</button>
        </div>

      </div>
  </section>
  <section id="news">
    <div class="news container">
      <h2 class="section_heading tech_head">XƏBƏRLƏR VƏ BLOQ</h2>
      <p class="section_p tech_p">İştirak etdiyimiz tədbirlər, şirkətimizin sosial həyatı və ictimaiyyətlə münasibətlərimizi əks etdirən fəaliyyətimizi bu bölmədən izləyə bilərsiniz.</p>
      <div class="news_cards">
        <div class="new_card">
          <img class="card_img" src="assets/images/project_card.svg" alt="">
          <div class="news_card_info">
            <p class="news_card_date">16.03.2021</p>
            <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
            <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
            <a class="card_navigate">Daha ətraflı</a>
          </div>
        </div>
        <div class="new_card">
          <div class="new_badge">
            <div class="badge_view">
              News
            </div>
          </div>
          <img class="card_img" src="assets/images/project_card.svg" alt="">
          <div class="news_card_info">
            <p class="news_card_date">16.03.2021</p>
            <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
            <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
            <a class="card_navigate">Daha ətraflı</a>
          </div>
        </div>
        <div class="new_card">
          <img class="card_img" src="assets/images/project_card.svg" alt="">
          <div class="news_card_info">
            <p class="news_card_date">16.03.2021</p>
            <p class="news_card_info_head">All change – It’s time to reserve your apprenticeship funding!</p>
            <p class="news_card_info_desc">Employers who don’t pay the Apprenticeship Levy need to start reserving their apprenticeship...</p>
            <a class="card_navigate">Daha ətraflı</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="partners">
    <div class="partners container">
      <h2 class="section_heading tech_head">TƏRƏFDAŞLARIMIZ</h2>
      <p class="section_p tech_p">Biz yalnız ən yaxşı avadanlıq və proqram təminatı təchizatçıları ilə əməkdaşlıq edirik. Bu, işimizin keyfiyyətinin təminatıdır.</p>
    </div>
  </section>
  <section id="appoint">
    <div class="appoint" style="background: url('../../assets/images/appoint_bg.svg') no-repeat center;">
      <div class="appoint_content container">
        <div class="appoint_info">
          <h2 class="appoint_head">BİZDƏN GÖRÜŞ AL</h2>
          <p class="appoint_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <div class="appoint_form">
          <div class="form_name_email">
            <input class="form_name form_input" type="text" placeholder="Ad, Soyad">
            <input class="form_email form_input" type="email" placeholder="Email">
          </div>
          <div class="number_submit">
            <input class="form_number form_input" type="number" placeholder="Nömrə">
            <button class="submit">Göndər</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer ">
      <div class="container footer_content">
        <div class="knexel_info footer_col">
          <img class="knexel_logo" src="assets/images/logo.svg" alt="">
          <p class="knexel_desc">İnnovativ İT həllərin köməyi ilə biznesinizin davamlılığını təmin edin. Məlumatlarınızın təhlükəsizliyindən əmin olun. Xərclərinizi optimallaşdırın.</p>
        </div>
        <div class="footer_col">
          <p class="col_head">Xidmətlər</p>
          <a class="col_navigate" href="">Digital consulting</a>
          <a class="col_navigate" href="">Solution engineering</a>
          <a class="col_navigate" href="">Technology infrastructure</a>
          <a class="col_navigate" href="">IT Operations</a>
        </div>
        <div class="footer_col">
          <p class="col_head">Faydalı linklər</p>
          <a class="col_navigate" href="">Haqqımızda</a>
          <a class="col_navigate" href="">Layihələr</a>
          <a class="col_navigate" href="">Media mərkəzi</a>
          <a class="col_navigate" href="">Bloq</a>
          <a class="col_navigate" href="">Əlaqə</a>
          <a class="col_navigate" href="">Vakansiyalar</a>
        </div>
        <div class="footer_col">
          <p class="col_head">Əlaqə</p>
          <a class="col_navigate" href="">H.Əliyev Pr. 125, Bakı</a>
          <a class="col_navigate" href="">office@knexel.com</a>
          <a class="col_navigate" href="">+994123105300</a>
        </div>
      </div>
      <div class="container bottom">
        <div class="footer_divider">
        <hr class="hr">
        <img src="assets/icons/mini_logo.svg" alt="">
        <hr class="hr">
        </div>
        <div class="copyright">
          <p class="copyright_info">© 2021 Knexel Technologies. Bütün hüquqlar qorunur</p>
          <p class="copyright_info">Bu bir <a href="">Marcom</a> məhsuludur.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
